@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FranklinGothic-Medium.eot');
    src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
        url('../fonts/FranklinGothic-Medium.woff') format('woff'),
        url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}



body {
    font-family: Arial, sans-serif;
}

.loader {
    width: 40px;
    height: 40px;
    border: 6px solid rgba(13, 71, 161, 0.7);
    border-radius: 50%;
    border-left-color: #0D47A1;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

nav {
    width: 100%;
    height: 50px;
    background: #344051;
    position: fixed;
    z-index: 1;
}

.logo {
    color: #fff;
    font-size: 34px;
    line-height: 50px;
    font-family: 'Franklin Gothic', sans-serif;
    -webkit-animation: comming ease 3s;
    -o-animation: comming ease 3s;
    animation: comming ease 3s;
    -webkit-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: 0.5s;
}


.menu{
    float: left;
}

.menu li {
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    font-family: 'Franklin Gothic', sans-serif;
}

.menu li a {
    transition: all 0.1;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: orange;
}

.menu li a:active {
    transform: scale(1.2);
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -300px;
    }

    to {
        opacity: 1;
        margin-left: 204px;
    }
}

.title_container {
    margin-top: -500px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1.5s ease forwards;
    -o-animation: titlemove 1.5s ease forwards;
    animation: titlemove 1.5s ease forwards;
    -webkit-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.main4el {
    margin-left: 790px;
    margin-top: -340px;
    position: absolute;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Franklin Gothic', sans-serif;
    
}

.title_container h4 {
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    
}


.title_container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
        
    }
}

.main1 {
    text-align: center;
    width: 100%;
    height: 618px;
    background: url(../img/Palka.png) 50% 10%/8% auto no-repeat;
}

.box {
    margin-left: 685px;
    margin-top: 70px;
    height: 210px;
    width: 200px;
    background: url(../img/krug4el.png) 100% 100% no-repeat;
    transition: all 0.8s ease 0s;
    transform-origin: right top;
    transform: rotate(0deg);
}

.box:hover {
    transform: rotate(-30deg);
}

.main1 h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.main1 p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #3f495a;
}

.main1 input {
    height: 30px;
    text-align: center;
    border: 2px solid #6f707e;
    background-size: 2px 3px;
    background: url(../img/150265237314573381.jpg)left/ 30px auto no-repeat;
    border-radius: 5px;
    color: #6f707e;
    font-size: 12px;
    transition: all 0.3s ease 0s;
    transform: scale(1);
}

.main1 input:hover {
    transform: scale(1.1);
}

.main1 input:active{
    transform: scale(1);
}

.main2 {
    height: 520px;
    width: 100%;
    background: url(../img/nout.png) 16% 52%/ 3.5% auto no-repeat, url(../img/Znak.png)40% 52%/ 3.5% auto no-repeat, url(../img/Raketa.png) 64% 52%/ 3.5% auto no-repeat, url(../img/Gfon.png)88.5% 52%/3.5% auto no-repeat, url(../img/Palka.png) 50% 27%/8% auto no-repeat, url(../img/FONIT.jpg)no-repeat;
}

.main2 h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.main2 h3 {
    margin-left: 170px;
    margin-top: 210px;
    float: left;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #cf7600;
}

.main2 p {
    margin-top: 15px;
    color: #3f495a;
}

.main3 {
    color: #3f495a;
    width: 100%;
    height: 800px;
    background: url(../img/Palka.png) 50% 14%/5% auto no-repeat, url(../img/Fotka.jpg) 50% 45%/800px auto no-repeat;
}

.main3 h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.title_container3 p {
    font-weight: bold;
    color: #3f495a;
    text-align: center;
    padding-top: 50px;
}

.main3 h3 {
    margin-right: 100px;
    font-size: 15px;
    float: left;
    letter-spacing: 2px;
    font-weight: bold;
    color: #384354;
    padding: 460px 0px 0px 400px;
    line-height: 15px;
}


.main3 a {
    font-size: 14px;
    background: #63b5ae;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    padding: 13px 40px 13px 40px;
    margin-top: 10px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
}

.site {
    transition: all 0.1;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.site:hover {
    transform: scale(1.2);
}

.site:active {
    transform: scale(1);
}

.main3 h4 {
    font-size: 17px;
    color: #384354;
    font-weight: bold;
    padding-top: 460px;
    padding-right: 390px;
    line-height: 18px;
}

.main3 p {
    font-size: 13px;
}

.main4 {
    background: url(../img/ItLine.jpg) 52% 80%/49% auto no-repeat;
    width: 100%;
    height: 750px;
}

.main4 h2 {
    text-align: center;
    color: #1c2534;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.main4 h3 {
    font-weight: bold;
    font-size: 19px;
    margin-top: 80px;
    color: #1c2534;
    margin-left: 420px;
}

.opt2 {
    padding: 20px 500px 1px 10px;
    color: #737373;
    font-size: 15px;
    font-weight: bold;
    height: 70px;
    width: 777px;
    background: url(../img/1.jpg)100% 100%/ 100% auto no-repeat;
}

.main4 p {
    color: #1c2534;
    font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 2px;
    margin-bottom: 50px;

}

.main4 h4 {
    color: #1c2534;
    font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 15px;

    word-spacing: 720px;
}


.main4 h5 {
    color: #1c2534;
    word-spacing: 655px;
    margin-left: 420px;
    font-size: 15px;
    font-weight: bold;
}

.main4 h6 {
    color: #1c2534;
    word-spacing: 620px;
    float: left;
    margin-left: 420px;
    font-size: 15px;
    font-weight: bold;
}

.main4 span {
    color: #1c2534;
    font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 15px;
    word-spacing: 685px;
}

.parallax {
    background: url(../img/fon2.jpg) no-repeat;
    background-attachment: fixed;
}

.main5 {
    text-align: center;
    height: 400px;
    background: url(../img/Palka.png) 50% 31%/15% 7px no-repeat;
}

.stata {
    display: inline-block;
    margin: 1 1.5rem;
    animation: flash infinite;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
}

.tula {
    background: url(../img/smile.png) 15% 50%/ 4% auto no-repeat, url(../img/skobki.png) 40.7% 50%/ 4% auto no-repeat, url(../img/Gall04ka.png)65.7% 50%/4% auto no-repeat, url(../img/Kubok.png)91.8% 50%/4% auto no-repeat;
    display: inline-block;
    margin: 1 1.2rem;
    animation: headShake infinite;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.main5 h2 {
    font-weight: bold;
    padding-top: 27px;
    color: #323e4f;
    font-size: 30px;

}

.main5 h5 {
    line-height: 20px;
    color: #323e4f;
    font-weight: bold;
    line-height: 60px;
    font-size: 35px;
    float: left;
    margin: 200px 0px 0px 60px;
}

.main6 {
    background: url(../img/okop.png) 55% 100%/ 0.7% auto no-repeat, url(../img/okop.png) 50% 100%/ 0.7% auto no-repeat, url(../img/oknopka.png) 45% 100%/ 0.7% auto no-repeat, url(../img/Palka.png)50% 17%/ 6% auto no-repeat;
    height: 500px;
    text-align: center;
    margin-bottom: 100px;
    transition: all;
}

.scale3d {
    margin-top: 100px;
    margin-left: 740px;
    width: 110px;
    height: 110px;
    background: url(../img/gaz.png) 100% 50%/ 110px 110px no-repeat;
    transition: all 2s ease 0.2s;
    transform: scale3D(1, 1, 1);
}

.scale3d:hover {
    transform: scale3d(1.5, 1.5, 2);
}

.main6 h2 {
    color: #1c2534;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
}

.main6 h4 {
    font-weight: bold;
    color: #243042;
    margin: 80px 350px 0px 350px;
}

.main6 h3 {
    font-size: 20px;
    margin-top: 80px;
    color: #243042;
}

.main7 {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 707px;
    background: url(../img/truba.png) 76% 45%/ 1.5% auto no-repeat, url(../img/konvert.png) 49.8% 45%/ 2.2% auto no-repeat, url(../img/geo.png) 23% 44%/ 1.5% auto no-repeat, url(../img/Palka.png) 50% 19%/ 8% 6px no-repeat, url(../img/lastfn.jpg) 100% 100%/100% 95% no-repeat;
}

.main7 h2 {
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
}

.main7 p {
    font-size: 18px;
    margin-top: 100px;
}

.main7 h5 {
    float: left;
    margin: 130px 0px 0px 290px;
}

.main7 form {
    margin-top: 20px;
}

.main7 h6 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-top: 170px;
}

.main7 a:hover {
    transform: scale(1.2);
}

.main7 a:active {
    transform: scale(1);
}

.text89 {
    text-indent: 5px;
    width: 300px;
    height: 30px;
}

.text33 {
    margin-top: 10px;
    height: 100px;
    padding: 5px 0px 0px 5px;
    width: 400px;
}

.nanah {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: none;
    margin-top: 4px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all;
    display: inline-block;
    animation: tada infinite;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.nanah:hover {
    animation: alternate;
    transform: scale(1.1);
}

.nanah:active{
    transform: scale(0.9);
}

.Karta {
    height: 250px;
    background: url(../img/Karta.jpg) 100% 100%/ 100% 100% no-repeat;
}

.Karta h2 {
    background: #fff;
    height: 20px;
    width: 80px;
    border: 1px solid #000;
}

.bb {
    padding-top: 17px;
    color: #fff;
    text-align: center;
    margin-top: -5px;
    height: 45px;
    width: 100%;
    background: #354051;
}

.white-btn:visited{
    color: white;
}
