@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FranklinGothic-Medium.eot');
    src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
        url('../fonts/FranklinGothic-Medium.woff') format('woff'),
        url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff'),
        url('../fonts/Calibri.ttf') format('truetype'),
        url('../fonts/Calibri.svg#Calibri') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/Bahnschrift.eot');
    src: url('../fonts/Bahnschrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bahnschrift.woff2') format('woff2'),
        url('../fonts/Bahnschrift.woff') format('woff'),
        url('../fonts/Bahnschrift.ttf') format('truetype'),
        url('../fonts/Bahnschrift.svg#Bahnschrift') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.eot');
    src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Impact.woff2') format('woff2'),
        url('../fonts/Impact.woff') format('woff'),
        url('../fonts/Impact.ttf') format('truetype'),
        url('../fonts/Impact.svg#Impact') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    max-width: 100%;
}

.loader {
    width: 40px;
    height: 40px;
    border: 6px solid rgba(13, 71, 161, 0.7);
    border-radius: 50%;
    border-left-color: #0D47A1;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}



main{
    height: 1000px;
    background: url(../img/4el.png) 90% 100% no-repeat,url(../img/fon.jpg) 100% 100%/ auto no-repeat;
    text-align: center;
}

nav{
    font-weight: bold;
}

main h1{
    color: #223549;
}

main h4{
    color: #697784;
}

.title_container h1{
    margin-top: 400px;
    font-size: 50px;
    color: #223549;
}
.title_container input{
    width: 120px;
    height: 40px;
    text-align: center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 16px;
}

.main1{
    background: url(../img/Palka.png) 50% 10%/7% auto no-repeat;
    text-align: center;
    height: 600px;
}

.main1 h2{ 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #1a2e43;
    margin: 0px 0px 70px 0px;
}

.title_container1 p{
    padding-top: 20px;
    font-size: 15px;
    color: #38475a;
    font-family: 'Calibri', sans-serif;
}

.title_container1 input{
    margin-top: 10px;
    height: 30px;
    width: 155px;
    text-align: center;
    padding-left: 30px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    background: url(../img/ska4.png) 11% center no-repeat;
}

.main2 {
    height: 320px;
    background: url(../img/Palka.png) 50% 31%/ 5% auto no-repeat, url(../img/FONIT.jpg)100% 100%/ 100% auto no-repeat;
}

.title_container2 h2{
    text-transform: uppercase;
    font-size: 35px;
    color: #1a2e43;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px 5px 0px;
}


.main2 h3{
    padding-top: 60px;
    color: #e87700;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    justify-content: space-between;
    font-family: 'Bahnschrift', sans-serif;
    
}

.main2 h3 p{
    color: #38475a;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
}

.title_container3{
    background: url(../img/Palka.png) 50% 44%/ 4% auto no-repeat;
    text-align: center;
    font-family: 'Franlin Gothic', sans-serif;
}

.title_container3 h2{
    padding: 20px 0px 60px 0px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: #2f4154;
}

.title_container3 p{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #38475a;
}
.main3 h3{
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #2f4154;
}

.main3 p{
    font-family: 'Calibri', sans-serif;
}
.main3 h3 p{
    margin-top: 1px;
    color: #38475a;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
}

.btn-lg{
    width: 192px;
    margin-bottom: 50px;
}

.title_container4{
    height: 750px;
    box-shadow: 1px 4px 15px #000 ;
    font-family: 'Franlin Gothic', sans-serif;
}

img.eblo {
  animation: 10s linear 0s normal none infinite running eblo;
  -webkit-animation: 10s linear 0s normal none infinite running eblo;
}

@keyframes eblo {
  0% {
    transform: rotate(0deg);
  }
    50%{
        transform: rotate(-180deg)
    }
  50% {
    transform: rotate(180deg);
  }
    @-webkit-keyframes eblo {
  0% {
    transform: rotate(0deg);
  }
    50%{
        transform: rotate(-180deg)
    }
  50% {
    transform: rotate(180deg);
  }
}

}

.main4 h2{
    text-transform: uppercase;
    font-size: 35px;
    color: #1a2e43;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 60px 0px;
}

.opt2{
    margin: 10px 0px 23px 0px;
    color: #737373;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    padding-left: 22px;
    background-color:gainsboro;
}

.main4 h3{
    font-weight: bold;
    color: #1a2e43;
}

.main4 p{
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-weight: bold;
    font-size: 20px;
}
.s44et{
    color: #102032;
    display: flex;
    justify-content: space-between;
}

.main5{
    margin-top: 20px;
    height: 400px;
    background: url(../img/Palka.png) 50% 31%/15% 7px no-repeat, url(../img/fon2.jpg) no-repeat;
    color: #293b4f;
}

.main5 h2{
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Franlin Gothic', sans-serif;
    font-weight: bold;
}
.main5 h4{
    font-weight: bold;
    font-size: 45px;
}

.row1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.row1 ul{
    text-transform: uppercase;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 48px;
}

.row1 li{
    font-family: 'Impact', sans-serif;
}

.row1 li p{
    font-size: 28px;
    font-family: 'Franlin Gothic', sans-serif;
}

.main6{
    color: #172c41;
    height: 590px;
    text-align: center;
}

.main6 h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
    padding: 70px 0px 26px 0px;
}


.main6 h3{
    font-size: 17px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}

.main6 h4{
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}

.main7{
    color: white;
    font-size: 17px;
    text-align: center;
    background: url(../img/Palka.png)50% 20%/4% auto no-repeat, url(../img/lastfn.jpg)no-repeat;
}
.main7 h2{
    text-transform: uppercase;
    padding-top: 70px;
    font-weight: bold;
    font-size: 28px;
}

.main7 p{
    font-family: 'Calibri', sans-serif;
    margin: 60px 0px 50px 0px;
}

.main7 ul{
    font-family: 'Calibri', sans-serif;
}


.main7 h6{
    padding-top: 10px;
    font-size: 20px;
}

.piwi{
    margin-top: 30px;
}

.text89{
    padding-left: 10px;
    width: 362px;
    height: 34px;
    color: #5d5d5e;
    background-color:#cfd6dc;
    box-shadow: 1px 4px 15px #000 ;
    font-weight: 13px; 
}

.text33{
    padding: 10px 0px 63px 10px;
    width: 729px;
    height: 93px;
    color: #5d5d5e;
    background-color:#cfd6dc;
    box-shadow: 1px 4px 15px #000 ;
    font-weight: 13px;
    max-width: 100%;
}

.nanah{
    font-size: 13px;
    color: white;
    background: none;
    margin-top: 4px;
    margin-bottom: 10px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-family: 'Franklin Gothic', sans-serif;
}

@media (min-width: 400px) and (max-width: 1000px){
    
    .container h4{
        display: none
    }
    .container h1{
        margin-top: 280px;
    }
    .container{
        float: left;
    }
    
    .main1{
        height: 350px;
        background: url(../img/Palka.png) 50% 15%/7% auto no-repeat;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .title_container h1{
        margin-top:200px;
    }
}
@media (min-width: 400px) and (max-width: 1200px){
    
    
    .mainB{
        padding-top: 10px;
        text-align: end;
    }
    
    .title_container1 h2{
        margin-top: 10px;
    }
    
    .title_container1 p{
        display: none;
    }
    
    .title_container2 h2{
        margin-top: 22px;
        padding-bottom: 20px;
    }
    
    .title_container2 h3{
        padding-top: 0px;
    }
    
    .main5 h2{
        margin-bottom: 0px;
    }
    
    
    .main6 h2{
        padding-top: 0px;
    }
    
}

.content__matrix-Or4ek:hover{
    transform: matrix(1.1, 0, 0, 1.1, 0 ,0);
}

.content__matrix-Or4ek:active{
    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
}

.content__matrix-4ek:hover{
    transform: matrix(1.1, 0, 0, 1.1, 0 ,0);
}

.content__matrix-4ek:active{
    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
}

.content_matrix-uvel:hover{
    transform: matrix(1.3, 0, 0, 1.3, 0 ,0);
}

.content__transform-origin{
    transform-origin: top;
    transform: rotate(0deg);
    transition-duration: 1s;
}

.content__transform-origin:hover{
    transform: rotate(-30deg);
    transition-duration: 1s;
    color: white;
}

.ska{
    padding: 0px;
    margin: 0px;
}

.str{
/* Подключаем свойство transform-style для 3D */
transform-style: preserve-3d;
/* Подключаем анимацию для вращения и обзора */
animation: main-rotate 10s infinite linear;
}
@keyframes main-rotate {
    50% {
transform: rotateY(-180deg);
}
50% {
transform: rotateY(180deg);
}
}

.red{
    color: red; 
}

.bg-primary{
    position: fixed;
}

src{
    opacity: 0;
}

data-src{
    opacity: 1;
    transition: opacity 1s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 400px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}


.navbar-nav{
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-nav li{
    margin-right: 23px;
}

#hh{
    margin-left: 20px;
    font-size: 20px;
}

#navbarNav{
    text-align: right;
}

#overlay{
    text-align: center;
}

.row3{
    display: flex;
    justify-content: center;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}
