/*Если только картинки осталось вляпать, то завтра с утра уже скину готовую работу*/



body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 50px;
    background: #344051;
    
}
.logo{
    color: #fff;
    font-size: 26px;
    line-height: 50px;
    padding-left: 260px;
    float: left;
}
.menu{
    float: left;
    padding-left: 438px;
}
.menu li{
    float: left;
    line-height: 50px;
    color: #fff;
    margin-right: 40px;
    font-size: 13px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/4el.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 280px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 60px 28px 0px 14px;
}

.main1{
    text-align: center;
    width: 100%;
    height: 618px;
    background: url(../img/krug4el.png) 50% 30% no-repeat, url(../img/Palka.png) 50% 10%/8% auto no-repeat;
}
.main1 h2{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}
.main1 p{
    margin: 320px 450px 0px 450px;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #3f495a;
}
.main1 input{
    height: 30px;
    text-align: center;
    border: 2px solid #6f707e;
    background-size: 2px 3px;
    background: url(../img/150265237314573381.jpg)left/ 30px auto no-repeat;
    border-radius: 5px;
    color: #6f707e;
    font-size: 12px;
    padding: 7px 10px 10px 32px;
    margin-top: 30px;
}

.main2{
    height: 520px;
    width: 100%;
    background: url(../img/nout.png) 16% 52%/ 3.5% auto no-repeat, url(../img/Znak.png)40% 52%/ 3.5% auto no-repeat, url(../img/Raketa.png) 64% 52%/ 3.5% auto no-repeat, url(../img/Gfon.png)88.5% 52%/3.5% auto no-repeat ,url(../img/Palka.png) 50% 27%/8% auto no-repeat, url(../img/FONIT.jpg)no-repeat;
}

.main2 h2{
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.main2 h3{
    margin-left: 170px;
    margin-top: 210px;
    float: left;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #cf7600;
}
.main2 p{
    margin-top: 15px;
    color: #3f495a;
}
.main3{
    color: #3f495a;
    width: 100%;
    height: 800px;
    background: url(../img/Palka.png) 50% 14%/5% auto no-repeat, url(../img/Fotka.jpg) 50% 45%/800px auto no-repeat;
}

.main3 h2{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.title_container3 p{
    font-weight: bold;
    color: #3f495a;
    text-align: center;
    padding-top: 50px;
}
.main3 h3{
    margin-right: 100px;
    font-size: 15px;
    float:left;
    letter-spacing: 2px;
    font-weight: bold;
    color: #384354;
    padding: 460px 0px 0px 400px;
    line-height: 15px;
}


.main3 a{
    font-size: 14px;
    background: #63b5ae;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    padding: 13px 40px 13px 40px;
    margin-top: 10px;
}

.main3 h4{
    font-size: 17px;
    color: #384354;
    font-weight: bold;
    padding-top: 460px;
    padding-right: 390px;
    line-height: 18px;
}

.main3 p{
    font-size: 13px;
}

.main4{
    background: url(../img/ItLine.jpg) 52% 80%/49% auto no-repeat;
    width: 100%;
    height: 750px;
}
.main4 h2{
    text-align: center;
    color: #1c2534;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.main4 h3{
    font-weight: bold;
    font-size: 19px;
    margin-top: 80px;
    color: #1c2534;
    margin-left: 420px;
}

.opt2{
    padding: 20px 500px 1px 10px;
    color: #737373;
    font-size: 15px;
    font-weight: bold;
    height: 70px;
    width: 777px;
    background: url(../img/1.jpg)100% 100%/ 100% auto no-repeat;
}

.main4 p{ 
    color: #1c2534;
    font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 2px;
    margin-bottom: 50px;
    
}
.main4 h4{
        color: #1c2534;
        font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 15px;

    word-spacing: 720px;
}


.main4 h5{
    color: #1c2534;
    word-spacing: 655px;
    margin-left: 420px;
    font-size: 15px;
    font-weight: bold;
}

.main4 h6{
    color: #1c2534;
    word-spacing: 620px;
    float: left;   
    margin-left: 420px;
    font-size:15px;
    font-weight: bold;
}
.main4 span{
    color: #1c2534;
        font-weight: bold;
    font-size: 15px;
    margin-left: 420px;
    line-height: 5px;
    margin-top: 15px;
    word-spacing: 685px;
}

.main5{
    
    text-align: center;
    height: 500px;
    background: url(../img/smile.png) 14.7% 60%/ 4% auto no-repeat, url(../img/skobki.png) 39.4% 60%/ 4% auto no-repeat, url(../img/Gall04ka.png)63.5% 60%/4% auto no-repeat, url(../img/Kubok.png)89.1% 60%/4% auto no-repeat ,url(../img/Palka.png) 50% 31%/15% 7px no-repeat, url(../img/fon2.jpg) no-repeat;
}

.main5 h2{
    font-weight: bold;
    padding-top: 97px;
    color: #323e4f;
    font-size: 30px;
    
}
.main5 h5{
    line-height: 20px;
    color: #323e4f;
    font-weight: bold;
    line-height: 60px;
    font-size: 35px;
    float:left;
    margin:200px 0px 0px 60px ;
}

.main6{
    background: url(../img/okop.png) 55% 100%/ 0.7% auto no-repeat, url(../img/okop.png) 50% 100%/ 0.7% auto no-repeat, url(../img/oknopka.png) 45% 100%/ 0.7% auto no-repeat, url(../img/Palka.png)50% 17%/ 6% auto no-repeat, url(../img/gaz.png) 50% 40%/ 110px auto no-repeat;
    height: 500px;
    text-align: center;
    margin-bottom: 100px;
}

.main6 h2{
    color: #1c2534;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
}
.main6 h4{
    font-weight: bold;
    color: #243042;
    margin: 300px 350px 0px 350px;
}

.main6 h3{
    font-size: 20px;
    margin-top: 80px;
    color: #243042;
}

.main7{
    color: #fff;
    text-align: center;
    width: 100%;
    height: 707px;
    background: url(../img/truba.png) 76% 45%/ 1.5% auto no-repeat, url(../img/konvert.png) 49.8% 45%/ 2.2% auto no-repeat, url(../img/geo.png) 23% 44%/ 1.5% auto no-repeat, url(../img/Palka.png) 50% 19%/ 8% 6px no-repeat, url(../img/lastfn.jpg) 100% 100%/100% 95% no-repeat;
}
.main7 h2{
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
}
.main7 p{
    font-size: 18px;
    margin-top: 100px;
}
.main7 h5{
    float: left;
    margin: 130px 0px 0px 290px;
}
.main7 form{
    margin-top: 20px;
}

.main7 h6{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-top: 170px;
}
.text89{
    text-indent: 5px;
    width: 300px;
    height: 30px;
}

.text33{
    margin-top: 10px;
    height: 100px;
    padding: 5px 0px 0px 5px;
    width: 400px;
}
.nanah{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: none;
    margin-top: 4px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #fff;
}

.Karta{
    height: 250px;
    background: url(../img/Karta.jpg) 100% 100%/ 100% 100% no-repeat
}
.Karta h2{
    background: #fff;
    height: 20px;
    width: 80px;
    border: 1px solid #000;
}

.bb{
    padding-top:17px;
    color: #fff;
    text-align: center;
    margin-top: -5px; 
    height: 45px;
    width: 100%;
    background: #354051;
}

