header{
    height: 100px;
    width: 100%;
}

.header li{
    line-height: 90px;
}

.logo{
    float: left;
    height: 80px;
    font-size: 35px;
    font-weight: bold;
}

.adress{
    font-size: 14px;
    font-weight: bold;
    float: left;
}

.number a{
    color: #000;
    text-decoration: none;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 5px;
}
.number{
    text-align: center;
    font-size: 14px;
    float: left;
}

.linki{
    float: left;
}

.academ{
    float: left;
    height: 400px;
    border: solid grey 1px;
}
.salons{
    float: left;
    height: 400px;
    width: 25%;
    border: solid grey 1px;
}

.magaz{
    float: left;
    height: 400px;
    width: 25%;
    border: solid grey 1px;
}
.info{
    float: left;
    height: 400px;
    width: 25%;
    border: solid grey 1px;
}
.blog{
    float: left;
    width: 50%;
    height: 50px;
    border: solid grey 1px;
}
ul{
    
}